/* ==========================================
   ESTILOS GENERALES DEL SISTEMA
========================================== */


/* Aplicamos box-sizing a todos los elementos
   para facilitar el manejo de tamaños. */

* {
  box-sizing: border-box;
}


/* Eliminamos márgenes predeterminados. */

html,
body,
#app {
  margin: 0;

  min-width: 100%;
  min-height: 100%;
}


/* Tipografía general */

body {

  margin: 0;

  font-family:
    Inter,
    Arial,
    Helvetica,
    sans-serif;

  background-color: #F7F7F8;

  color: #2F3035;

}


/* Los botones e inputs utilizarán
   la misma tipografía del sistema. */

button,
input {
  font-family: inherit;
}